<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}?after">

<body>
  <h2>
    <center>
      <form action='/info' method='post'>
        <label for="name">Enter the URL</label>
        <input name="url" type="text" />
        <br />
        <button type="submit">Process</button>
      </form>
      <form action='/report' method='post'>
        <button type="submit">Report</button>
      </form>
      <form action='/delete' method='post'>
        <button type="submit">Delete All</button>
      </form>
    </center>
    <hr>
    <label for="name">Open Source Project Analysis Lists</label>
  </h2>
  <hr>
  {% if error %}
  <strong>{{error}}</strong>
  {% endif %}

    {% if parsed %}
    <table>
      {% for i in parsed %}
      <tr>
        <td>
          <h4>{{i['result_url']}}</h4>
        </td>
        <td>
          <h4>{{i['result_ret']}}</h4>
        </td>
        <td>
          <a href="{{ url_for('delete_one', id=i['result_id']) }}">delete</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
</body>
