<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}?after">

<body>
  <h2>
    <center>
      <form action='/info' method='post'>
        <label for="name">Enter the URL</label>
        <input name="url" type="text" />
        <br />
        <button type="submit">Process</button>
        <button type="submit">Report</button>
      </form>
    </center>
    <hr>
    <label for="name">Open Source Project Analysis Lists</label>
  </h2>
  <hr>
  {% if error %}
  {{error}}
  {% else %}
  <ul class=parse>
    {% if parsed %}
      {% for i in parsed%}
        {% for key, data in i.items() %}
          <h3>{{key}},{{data}}</h3>
        {% endfor %}
      {% endfor %}
    <br>
    </div>
    <div id="day">&mdash; {{ time|datetimeformat }}</div>
    {% endif %}
  </ul>
  {% endif %}
</body>
