<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}?after">

<body>
  <h2>
    <center>
      <form action='/info' method='post' style="display:inline">
        <label for="name">Enter the URL</label>
        <input name="url" type="text" />
        <br />
        <button type="submit" style="display:inline">Process</button>
      </form>
      <form action='/report' method='post' style="display:inline">
        <button type="submit" style="display:inline">Report</button>
      </form>
      <form action='/delete' method='post' style="display:inline">
        <button type="submit" style="display:inline">Delete All</button>
      </form>
    </center>
    <hr>
    <label for="name"><h2>Open Source Project Analysis Lists</h2></label>
  </h2>
  <hr>
  {% if error %}
  <strong>{{error}}</strong>
  {% endif %}

    {% if parsed %}
      {% for i in parsed %}
        <h2>{{i['result_url']}} <a href="{{ url_for('delete_one', id=i['result_id']) }}"><small>delete</small></a></h2>
        
        <hr>
        <h4>{{i['result_ret']}}</h4>
        <hr>
      {% endfor %}
    {% endif %}
</body>
