<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body>
    <h2>
    <center><form action='/info' method='post'>
        <label for="name">Enter the URL</label>
        <input name="toSearch" type="text"/>
        <br/>
        <button type="submit">Process</button>
        <button type="submit">Report</button>
    </form></center>
    <hr>
    <label for="name">Open Source Project Analysis Lists</label>
    </h2>
    <hr>
    {% if parsed_title or parsed_body %}
    {{parsed_title}}
    <hr>
    {{parsed_body}}
    {% endif %}
</body>
