body {
    background: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: black;
}

button[type="submit"]{
    background: gray;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: black;
}

div#first{
width:20%;
height:100px;
float:left;
background: #E6E6E6;
text-align:center;
}

div#con{
width:60%;
height:100px;
float:left;
background: #E6E6E6;
text-align:left;
}

div#day{
width:20%;
height:100px;
float:left;
background: #E6E6E6;
text-align:center;
}
