<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<html>
	<head>
		<title>final project</title>
	</head>
	<body>
		<div class=navigation>
            {% if user %}
            <h3>{{user['user_id']}}</h3>
            <a href="{{url_for('logout')}}">Logout</a>
            |
            <a href="{{url_for('sub_view')}}">Sub_view</a>
            {% else %}
            <a href="{{url_for('login')}}">Login</a>
            |
            <a href="{{url_for('register')}}">Register</a>
            {% endif %}
            <br>
        </div>
        <div class=content>
            <h2 class='naver'>Naver</h2>
            <hr>
            {% for i in range(0,nlength) %}
            	{{wt_title[i]}}
	            <a href="{{wt_link[i]}}">link</a>
	            <br>
	            <img src="{{wt_image[i]}}" width="83" height="90">
	            <br>
	            <a href="{{url_for('subscribe',link=wt_link[i], image=wt_image[i], title=wt_title[i])}}">subscribe</a>
	            <hr>
            {% endfor %}
        </div>
        <div class=content>
            <h2 class='daum'>Daum</h2>
            <hr>
            {% for i in range(nlength, dlength+nlength) %}
            	{{wt_title[i]}}
	            <a href="{{wt_link[i]}}">link</a>
	            <br>
	            <img src="{{wt_image[i]}}" width="83" height="90">
	            <br>
	           	<a href="{{url_for('subscribe',link=wt_link[i], image=wt_image[i], title=wt_title[i])}}">subscribe</a>
	            <hr>
            {% endfor %}
        </div>
	</body>
</html>