body{
	font-family: "�����ٸ����";
	font-size:14pt;
	color:black;
}

a{
    color:#a1a1a1;
    text-decoration: none;
}

h2.naver{
	color:green;
}

h2.daum{
	color:blue;
}

h2.comico{
	color:red;
}

div.navigation{
	width: 100%;
	height: auto;
	float: left;
	text-align: center;
}

div.content{
	width: 33.333%;
	height: auto;
	float: left;
	text-align: center;
}