body {
    background: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: black;
}

button[type="submit"]{
    background: gray;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: black;
}